<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CVE Database Application Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"> CVE Database Application Project</h1>
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Forms</a></li>
          <li class="is-active"><a>Reports</a></li>
          <li class="is-active"><a href="/upload_scan">Scan Upload</a></li>
          <li class="is-active"><a href="/cve_search">CVE Database API Look-Up</a></li>
        </ul>
      </div>
    </div>
</section>

</html>